{{template "base" .}}

{{define "title"}}Login{{end}}
{{define "meta"}}
<meta name="description" content="Login to start managing your todos" />
{{end}}

{{define "styles"}}
<link rel="stylesheet" href="/static/css/pages/forms.css" />
{{end}}

{{define "content"}}
<section class="content">
    <p class="content__introduction">Login to manage your todos</p>
    <form
        action="/auth/login"
        method="post"
        class="form login-form"
        autocomplete="off"
    >
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
        {{with .Form}}
        {{with .Errors.Get "generic"}}
        <p class="form__generic-error">{{.}}</p>
        {{end}}
        <div class="form__group">
            <label for="username" class="form__label">Username</label>
            <input
                type="text"
                name="username"
                id="username"
                value="{{.Get "username"}}"
                placeholder="Enter your username"
                class="form__input {{if .Errors.Get "username"}}form__input--error animate__animated animate__headShake{{end}}"
                required
            />
            {{with .Errors.Get "username"}}
            <p class="form__error">{{.}}</p>
            {{end}}
        </div>
        <div class="form__group">
            <label for="password" class="form__label">Password</label>
            <input
                type="password"
                class="form__input {{if .Errors.Get "password"}}form__input--error animate__animated animate__headShake{{end}}"
                name="password"
                id="password"
                placeholder="Enter your password"
                required
            />
            {{with .Errors.Get "password"}}
            <p class="form__error">{{.}}</p>
            {{end}}
        </div>
        <div class="form__group form__group--with-button">
            <input class="form__button" type="submit" value="Login" />
        </div>
        {{end}}
    </form>
</section>
{{end}}
